<div class="shipping-information" data-bind="visible: isSelected() == true">

    <div if="parcelShopAddress() && parcelShopAddress().company" class="pickup-shop-address">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Pick-up address'"></span>
        </div>
        <div class="shipping-information-content">
            <strong data-bind="text: parcelShopAddress().company"></strong>

            <p if="parcelShopAddress().description">
                <i><span data-bind="text: parcelShopAddress().description"></span></i>
            </p>
            <p>
                <span data-bind="text: parcelShopAddress().street + ' ' + parcelShopAddress().housenumber"></span><br/>
                <span data-bind="text: parcelShopAddress().postal"></span>
                <span data-bind="text: parcelShopAddress().city + ' (' + parcelShopAddress().country + ')' "></span>
            </p>

        </div>
    </div>
</div>


<div class="shipping-information" data-bind="visible: isSelected() == false">

    <div class="pickup-shop-address">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Delivery Information'"></span>
        </div>
        <div class="shipping-information-content">
            <strong if="deliveryInformation" data-bind="text: deliveryInformation().name"></strong>
            <p if="deliveryInformation().date">
                <i>
                    <span data-bind="text: deliveryInformation().date"></span>
                    <span if="deliveryInformation().time && deliveryInformation().time != '00:00-00:00'"
                          data-bind="text: ' | '+deliveryInformation().time"></span>
                </i>
            </p>
            <p>
            <div data-bind="foreach: deliveryOptions()">
                <span data-bind="text: $data"></span><br/>
            </div>
            </p>
        </div>

    </div>

</div>
