<div class="shipping-information" visible="isSelected() == true">

    <div if="parcelShopAddress() && parcelShopAddress().company" class="pickup-shop-address">
        <div class="shipping-information-title">
            <span translate="'Pick-up address'"></span>
        </div>
        <div class="shipping-information-content">
            <strong text="parcelShopAddress().company"></strong>

            <p if="parcelShopAddress().description">
                <i><span text="parcelShopAddress().description"></span></i>
            </p>
            <p>
                <span text="parcelShopAddress().street + ' ' + parcelShopAddress().housenumber"></span><br/>
                <span text="parcelShopAddress().postal"></span>
                <span text="parcelShopAddress().city + ' (' + parcelShopAddress().country + ')' "></span>
            </p>

        </div>
    </div>
</div>


<div class="shipping-information" visible="isSelected() == false">

    <div class="pickup-shop-address">
        <div class="shipping-information-title">
            <span translate="'Delivery Information'"></span>
        </div>
        <div class="shipping-information-content">
            <strong if="deliveryInformation" text="deliveryInformation().name"></strong>
            <p if="deliveryInformation().date">
                <i>
                    <span text="deliveryInformation().date"></span>
                    <span if="deliveryInformation().time && deliveryInformation().time != '00:00-00:00'"
                          text="' | '+deliveryInformation().time"></span>
                </i>
            </p>
            <p>
            <div each="deliveryOptions()">
                <span text="$data"></span><br/>
            </div>
            </p>
        </div>

    </div>

</div>
