<input type="hidden" id="montapacking_longitude" name="montapacking_longitude" value="">
<input type="hidden" id="montapacking_latitude" name="montapacking_latitude" value="">
<input type="hidden" id="montapacking_language" name="montapacking_language" value="">
<input type="hidden" id="montapacking_addresschangedsincelastmapload" name="montapacking_addresschangedsincelastmapload"
       value="false">
<input type="hidden" id="montapacking_addresschangedsincelastlonglatcall"
       name="montapacking_addresschangedsincelastlonglatcall" value="false">
<input type="hidden" id="old_address" name="old_address" value="">
<input type="hidden" id="hasconnection" name="hasconnection" value="y">


<div if="hasconnection" id="montapacking-plugin" class="montapacking-parent"
     visible="selectedMethod() == 'montapacking_montapacking'">
    <div css="tabClasses()">
        <div if="deliveryServices().length > 0"
             click="toggleTab.bind($parent, '.montapacking-tab-pickup', '.montapacking-tab-delivery', '.pickup-services', '.delivery-services', true, false, false)"
             class="montapacking-tab montapacking-tab-delivery active">
            <span translate="'Delivery'"></span>
        </div>

        <div if="pickupServices().length > 0"
             click="toggleTab.bind($parent, '.montapacking-tab-delivery', '.montapacking-tab-pickup', '.delivery-services', '.pickup-services', true, false, true)"
             class="montapacking-tab montapacking-tab-pickup">
            <span translate="'Pick-up'"></span>
        </div>
    </div>

    <div if="standardDeliveryServices() !== null" class="clearboth" id="standard-delivery-services">
        <div
            data-bind="template: {name: 'deliveryServices-template', afterRender:  renderedHandler, data: standardDeliveryServices() }"></div>
    </div>

    <div if="filteredDeliveryServices() !== null && filteredDeliveryServices().length > 0" id="date-picker">
        <button class="date-picker-button left" type="button" click="moveLeft"><</button>
        <button class="date-picker-button right" type="button" click="moveRight">></button>
        <div id="slider">
            <div id="slider-content">
                <ol each="daysForSelect">
                    <li if="date != null" class="montapacking-tab day"
                        click="$parent.getfilterDeliveryServicesByDate.bind($parent)"
                        css="{ 'day-discount': 10 }">
                        <p text="day" css="{'day-text-discount': discount > 0 }"></p>
                        <p text="date"></p>
                        <p if="discount > 0" text="discount + '%'" class="discount-percentage"></p>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="montapacking-services">
        <div class="delivery-services">
            <div
                if="((filteredDeliveryServices() != null && filteredDeliveryServices().length > 0)  || (standardDeliveryServices() !== null))"
                class="container montapacking-delivery-service delivery-information displaynone">
                <div class="montapacking-container-header">
                    <div class="montapacking-container-logo"></div>
                    <div class="montapacking-container-content">
                        <p>
                            <span
                                class="floatleft marginright montapacking-delivery-information-full-displayname">###</span>
                        <div class="clearboth"></div>
                        <ul class="montapacking-delivery-information-options">
                        </ul>
                        </p>
                        <a class="displaynone havesameday" href="javascript:;"
                           translate="'Want to deliver today or another day? Click here'" click="showDeliveryOptions.bind($parent, '.delivery-information', '.delivery-option')"></a>

                        <a class="displaynone nothavesameday" href="javascript:;"
                           translate="'Click here to choose a different delivery option'" click="showDeliveryOptions.bind($parent, '.delivery-information', '.delivery-option')"></a>
                    </div>
                    <div class="montapacking-container-price">###</div>

                    <div class="clearboth"></div>
                </div>
            </div>

            <div if="filteredDeliveryServices().length === 0 && standardDeliveryServices() === null"
                 class="container montapacking-delivery-service delivery-information">
                <div class="montapacking-container-header">
                    <div class="montapacking-container-logo"></div>
                    <div class="montapacking-container-content display100">
                        <p class="normal"
                           translate="'Choose a valid address before you can select a shipping method.'">
                        </p>
                    </div>
                    <div class="clearboth"></div>
                </div>
            </div>

            <div if="filteredDeliveryServices() != null  && filteredDeliveryServices().length > 0"
                 each="filteredDeliveryServices" class="clearboth"
                 id="deliveryServices-delivery-services">
                <div
                    data-bind="template: { name: 'deliveryServices-template', afterRender:  $parent.renderedHandler }"></div>
            </div>

            <script type="text/html" id="deliveryServices-template">
                <div each="options">
                    <div css="$parent.code" class="container montapacking-delivery-service delivery-option">
                        <span class="notranslate cropped_name montapacking-hidden" text="displayName"></span>
                        <span class="notranslate cropped_date montapacking-hidden"
                              text="$parent.dateOnlyFormatted"></span>
                        <span class="notranslate cropped_time_from montapacking-hidden" text="from"></span>
                        <span class="notranslate cropped_time_to montapacking-hidden" text="to"></span>
                        <span class="notranslate cropped_priceFormatted montapacking-hidden"
                              text="priceFormatted"></span>
                        <span class="notranslate cropped_price montapacking-hidden" text="price"></span>
                        <span class="notranslate cropped_image_class montapacking-hidden"
                              text="shipperCodes"></span>
                        <span class="notranslate cropped_image_class_replaced montapacking-hidden"
                              data-bind="text: code.split('_').length > 0 ? code.split('_')[0] : code"></span>

                        <div class="montapacking-container-header">
                            <div class="montapacking-container-logo"
                                 data-bind="css: code.split('_').length > 0 ? code.split('_')[0] : code"></div>
                            <div class="montapacking-container-content">
                                <div style="display: flex;">
                                    <p class="title" text="displayName"></p>
                                    <div if="isSustainable" class="field-tooltip toggle" style="position: relative;">
                                        <img style="width: 20px; height: 20px; margin-left: 5px;"
                                             class="field-tooltip-action action-help"
                                             data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}, attr: { src: require.toUrl('Montapacking_MontaCheckout/images/sustainable.png') }"
                                             data-toggle="dropdown"
                                             aria-haspopup="true"
                                             aria-expanded="false"/>
                                        <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true"
                                             translate="'Sustainably delivered'"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="montapacking-container-price"
                                 text="priceFormatted" css="{ 'color-green': (price == 0 || discountPercentage > 0) }"></div>
                            <div class="clearboth"></div>
                        </div>


                        <div class="montapacking-container-delivery-options" if="deliveryOptions">
                            <p if="deliveryOptions.length > 0" class="normal"
                               translate="'Choose your desired additional options'"></p>
                            <div each="deliveryOptions">
                                <div class="montapacking-delivery-option">
                                    <input
                                        data-bind="value: code, attr: {name: 'montapacking[shipper][extras][' +$parent.code + '][' +code + ']', id: $parent.code +code}"
                                        type="checkbox"
                                        class="radio"/>
                                    <label text="description, attr: {for: $parent.code +code}"></label>
                                    <span if="price !== 0" class="delivery-fee" text="priceFormatted"></span>
                                    <span class="delivery-fee-hidden montapacking-hidden"
                                          text="price"></span>
                                </div>
                            </div>
                        </div>

                        <div class="montapacking-container-select-option montapacking-styled-radiobutton">
                            <input
                                click="$parents[1].selectShipper.bind($element), checked: $parent.selectedShippers, , attr: {id: code, value: code}"
                                type="radio" class="montapacking_delivery_option" class="radio"
                                name="montapacking[shipper]"/>
                            <label data-bind="attr: {for: code}, i18n: 'Select delivery option'"></label>
                        </div>

                    </div>
                </div>
            </script>


        </div>

        <div class="pickup-services">
            <div if="pickupServices().length > 0"
                 class="container montapacking-pickup-service pickup-information displaynone">
                <div class="montapacking-container-header">
                    <div class="montapacking-container-logo"></div>
                    <div class="montapacking-container-content">
                        <p class="montapacking-pickup-information-company"></p>
                        <p class="montapacking-pickup-information-description-distance italic"></p>
                        <p class="montapacking-pickup-information-description-street-housenumber"></p>
                        <p class="montapacking-pickup-information-description-postal-city-country"></p>
                        <div id="PCPostNummer" class="displaynone">
                            <span class="normal" translate="'Post number'"></span>
                            <input type="text"
                                   id="DHLPCPostNummer"
                                   name="DHLPCPostNummer"
                                   value=""
                                   style="width:125px; margin-left: 15px;"/>
                        </div>
                        <p><a class="open-business-hours"
                              click="showBusinessHours.bind($element)" translate="'Show business hours'"></a></p>
                    </div>

                    <div class="montapacking-container-price"></div>
                    <div class="clearboth"></div>
                </div>

                <div class="table-container">
                    <a class="close" click="closeBusinessHours.bind($element)" translate="'Close'"></a>
                    <div class="table">

                    </div>
                </div>
            </div>

            <div ifnot="pickupServices().length > 0"
                 class="container montapacking-pickup-service pickup-information displayblock">
                <div class="montapacking-container-header">
                    <div class="montapacking-container-content display100">
                        <p class="normal" translate="'Unfortunately, no pick-up points could be found.'"></p>
                    </div>
                    <div class="clearboth"></div>
                </div>
            </div>

            <div if="pickupServices().length > 0" class="container montapacking-pickup-service pickup-information">
                <a href="javascript:"
                   translate="'Click here to choose another pick-up point'" click="openStoreLocator.bind($parent)"></a>
            </div>

            <div if="pickupServices().length > 0" each="pickupServices">
                <div data-bind="attr: {'data-markerid': marker_id}"
                     class="container montapacking-pickup-service pickup-option">
                    <span class="notranslate cropped_shipper montapacking-hidden" text="shipperCode"></span>
                    <span class="notranslate cropped_company montapacking-hidden" text="company "></span>
                    <span class="notranslate cropped_img_name montapacking-hidden" text="imageName "></span>
                    <span class="notranslate cropped_priceFormatted montapacking-hidden"
                          text="priceFormatted "></span>
                    <span class="notranslate cropped_street montapacking-hidden" text="street "></span>
                    <span class="notranslate cropped_housenumber montapacking-hidden"
                          text="houseNumber "></span>
                    <span class="notranslate cropped_postal montapacking-hidden" text="postalCode "></span>
                    <span class="notranslate cropped_city montapacking-hidden" text="city "></span>
                    <span class="notranslate cropped_description montapacking-hidden"
                          text="displayName + ' | ' + distanceMeters + 'km' "></span>
                    <span class="notranslate cropped_description_storelocator montapacking-hidden"
                          text="displayName "></span>
                    <span class="notranslate cropped_country montapacking-hidden" text="countryCode "></span>
                    <span class="notranslate cropped_price montapacking-hidden" text="price"></span>
                    <span class="notranslate cropped_code montapacking-hidden" text="code"></span>
                    <span class="notranslate cropped_image_class montapacking-hidden"
                          text="shipperCode"></span>
                    <span class="notranslate cropped_lng montapacking-hidden" text="longitude "></span>
                    <span class="notranslate cropped_lat montapacking-hidden" text="latitude "></span>
                    <span class="notranslate cropped_distance montapacking-hidden"
                          text="distanceMeters"></span>
                    <span class="notranslate cropped_codepickup montapacking-hidden"
                          text="shipperOptionsWithValue"></span>

                    <div class="montapacking-container-header">
                        <div css="company" class="montapacking-container-logo"></div>
                        <div class="montapacking-container-content">
                            <p text="company"></p>
                            <p class="normal" text="company +' '+ houseNumber"></p>
                            <p class="normal" text="postalCode +' '+ city+' ('+countryCode+')'">></p>
                        </div>

                        <div if="openingTimes" class="montapacking-container-price"
                             text="priceFormatted"></div>
                        <div class="clearboth"></div>
                    </div>
                    <if args="openingTimes">
                        <div class="table-container block-business-hours">
                            <div class="table">
                                <div data-bind="foreach: openingTimes">
                                    <div class="row">
                                        <div class="cell" text="day"></div>
                                        <div class="cell">
                                            <span text="from +' - '+to"></span><br>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="montapacking-container-select-option montapacking-styled-radiobutton">
                            <input
                                data-bind="value: code, attr: {id: code}, click: $parent.selectPickUp.bind($element), $parent.checked: selectedShippers"
                                type="radio"
                                class="radio initialPickupRadio" name="montapacking[pickup]"/>

                            <label attr="for: code" translate="'Select pick-up point'"></label>
                        </div>
                    </if>
                </div>
            </div>
        </div>
    </div>
</div>
